$color-orange: #f9a03f;
$color-white: #fefcfb;
$color-grey: #4e4a59;
$color-blue: #000010;
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
